
/************************* Used for Developement ************************************
* { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
/*************************************************************************************/
    
#white-bar{
    position: fixed;
    width: 100%;
    height: 80px;
    background: #FFF;
    padding: 0px;
    border-bottom: 10px solid #d2d2d2;
    
    
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row /* works with row or column */
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   font: 18px "Proxima Nova Regular",helvetica,arial,sans-serif;
   color: #666;
   
   z-index: 5000;
}

#center-wrapper{
    margin: 0 auto;
    width: 95%;
    min-width: 550px;
    max-width: 980px;
    
   display: -webkit-flex;
   display: flex;
   
   z-index: 5001;
}

#center-wrapper ul{
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row; 
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
}
#center-wrapper img{margin-top:15px;}
#center-wrapper li{
    margin: 0;
    width: 20%;
    min-width: 100px;
    vertical-align: middle;
    text-align: center;
    height: 80px;
    line-height: 80px;
}
#center-wrapper .select-choice{cursor: pointer;}
#center-wrapper .select-choice:hover{background-color: #cfecfa;color: #383838;}

.bigitem {
   /* This will be twice as big as the small item. */
   -webkit-flex: 2 0 0; 
   flex: 2 0 0; 
}
.smallitem {
   -webkit-flex: 1 0 0;
   flex: 1 0 0;
}


.smallitem{
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}
.smallitem div{
    margin: 0% 0% 0% 5%;
    cursor: pointer;
}



ul{
    list-style-type: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

#center-wrapper .active{
    color: #55bceb;
	position: relative;
	background: #FFF;
}
#center-wrapper .active:after {
	top: 67px;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	margin-left: -10px;
	
	
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	
	border-bottom: 10px solid #d2d2d2;
}

#small-avatar{
    width: 40px;
    height: 40px;
}



#notifications-pop{
    width: 50px;
    height: 50px;
	background: url("../images/blackIcons.png") center no-repeat;
	background-position: -132px -120px;
    opacity: 0.8;
}
#notifications-pop:hover{opacity: 1;}
#notify-number{
    width: 20px;
    padding: 2px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    color: #FFF;
    background: #ff0000;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}

#content-wrapper{
    margin: 20px auto;
    margin-top: 130px;
    padding: 10px;
    width: 95%;
    min-width: 550px;
    max-width: 1380px;
    background-color: #FFF;
    color: #666;
    
}

#title-bar{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #7d7d7d;
    text-align: center;
    color: #666;
    font-size: 20px;
    line-height: 40px;
    vertical-align: middle;
}

#list-button, #grid-button{
    float: right;
    cursor: pointer;
    width: 20px;
    height: 40px;
    opacity: 0.8;
}
#list-button{
	background: url("../images/list-button.png") center center no-repeat;
	background-size: 20px;
    margin: -40px 50px 0 0;
}
#grid-button{
	background: url("../images/grid-button.png") center center no-repeat;
	background-size: 20px;
    margin: -40px 20px 0 0;
}
#list-button:hover, #grid-button:hover{opacity: 1;}

#center-list-list{
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column; /* works with row or column */
   flex-direction: column;
   -webkit-justify-content: center;
   justify-content: center;
   
}
#center-list-grid{
   display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   /* You can set flex-wrap and flex-direction individually */
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   /* Or do it all in one line with flex flow */
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   /* tweak the where items line up on the row */
   /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
   -webkit-align-content: flex-end;
   align-content: flex-end;
}

#student-list li{
    margin: 10px;
    width: 98%;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    vertical-align: middle;
    padding: 5px;
    color: #2a2a2a;
    
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}
#scroll-hide, #scroll-hide-grid{width: 100%;overflow: hidden;}
#student-grade-display{width: 102%;padding-right: 10px;}
#student-grade-display li{
    margin: 10px;
    width: 98%;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    vertical-align: middle;
    padding: 5px;
    color: #2a2a2a;
    
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}

#student-list #list-header{
    margin: 10px;
    width: 98%;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    background-color: #e5e5e5;
    padding: 5px;
    color: #666;
    
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}

.student-name{
    width: 250px;
    text-align: center;
    
}
.question-list-item{
    width: 30px;
    margin: 0 2px 0 2px;
    text-align: center;
    vertical-align: middle;
}

.correct{
	margin: 8px 0 0 5px;
	width: 20px;
	height: 20px;
	background: url("../images/twitter_web_sprite_icons.png") center no-repeat;
	background-position: 5px -685px;
}

.notAnswered{
	margin: 8px 0 0 5px;
	width: 20px;
	height: 20px;
	background: url("../images/twitter_web_sprite_icons.png") center no-repeat;
	background-position: -58px -685px;
}

.incorrect{
	margin: 8px 0 0 5px;
	width: 20px;
	height: 20px;
	background: url("../images/twitter_web_sprite_icons.png") center no-repeat;
	background-position: -95px -505px;
}


#previous-page{
	cursor: pointer;
	display: inline-block;
	margin: 0px 5px; 0 0px;
	width: 30px;
	height: 30px;
	background: url("../images/previous-next-buttons2.png") center no-repeat;
	background-position: -30px -0px;
	background-size: 60px;
	vertical-align: middle;
	opacity: 0.8;
}
#next-page{
	cursor: pointer;
	display: inline-block;
	margin: 0px 0 0 5px;
	width: 30px;
	height: 30px;
	background: url("../images/previous-next-buttons2.png") center no-repeat;
	background-position: -0px -0px;
	background-size: 60px;
	vertical-align: middle;
	opacity: 0.8;
}
#previous-page:hover, #next-page:hover{opacity: 1;}

#student-grade-display, #student-grade-display-grid{
    position: relative;
    height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
}



.studentBox{
    border: 2px solid #737373;
    display: inline-block;
    margin: 0;
    width: 130px;
    height: 130px;
    opacity: 0.8;
    cursor: pointer;
    margin: 10px;
    padding: 10px 10px 0px 17px;
}
.studentBox:hover{opacity: 1;}
.svg{}
.svg path {
stroke-linejoin: round;
stroke-linecap: round;
}
.cont {
  display: block;
    width: 130px;
    height: 130px;
  margin: 0 auto;
  position: relative;
  color: #000;
}

.cont:after {
  position: absolute;
  display: block;
    width: 130px;
    height: 130px;
  left: 50%;
  top: 50%;
  content: attr(student-name);
  margin-top: -65px;
  margin-left: -68px;
  line-height: 130px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  
  
	text-shadow:0px 0px 10px #FFF;
}

.background{stroke: #484848; stroke-width:25; fill:none;}
.right-green{stroke: #48ff48; stroke-width:20; fill:none;}
.wrong-red{stroke: #ff8080; stroke-width:20; fill:none;}










