{% extends "small-base.html" %}
{% load staticfiles %}


{% block title %}Dashboard{% endblock %}


{% block extraHead %}
    <link rel="stylesheet" href="{% static "main_project/css/dashboard-style.css" %}" />
{% endblock %}

{% block body %}
	
<section id="wrapper-holder">
    
    <!--{% include "includes/popups.html" %}
<!------------------------------- Start of navigation bar --------------------------------------->
    <div id="white-bar">
	<div id="center-wrapper">
	    <div class="bigitem">
		    <div><a href="">
			<img id="downLogo" src="{% static "main_project/images/Simplesheets-dot-logo.png" %}" alt="home"/>
		    </a></div>
		<ul>
		    <li class="active">dashboard</li>
		    <li class="select-choice">monitor</li>
		    <li class="select-choice">grades</li>
		    <li class="select-choice"><a href="{% url "google_drive.views.google_picker" %}">create</a></li>
		</ul>
	    </div>
	    <div class="smallitem">
		<div id="notifications-pop" title="notifications">
		    <div id="notify-number">3</div>
		</div>
	    </div>
	</div>
    </div>
<!------------------------------- End of navigation bar --------------------------------------->


<!------------------------------- Start of content bar --------------------------------------->
<div id="dashboard-wrapper">
    <div id="left-content">
	<div id="profile-content" class="left-cell img-rounded">
	    <img title="edit profile" class="img-rounded" src="{% if userInfo.avatar %}{{ userInfo.avatar }}{% else %}{% static "main_project/images/default_avatar.png" %}{% endif %}" alt="profile-pic"/>
	    <div id="name-content"><span style="color: #55bceb;">Hi, Mr. Boyett</span><span style="font-size: 14px;">Teacher</span></div>
	</div>
	<div class="left-cell img-rounded">
	    <div class="cell-title img-top-rounded">
		Groups
		<div class="plus"></div>
	    </div>
	    <div class="cell-content-holder">
		<div class="class-cell">
		    <div class="folder-img"></div>
		    <div>1st Period</div>
		</div>
		<div class="class-cell">
		    <div class="folder-img"></div>
		    <div>2nd Period</div>
		</div>
		<div class="class-cell">
		    <div class="folder-img"></div>
		    <div>3rd Period</div>
		</div>
		<div class="class-cell">
		    <div class="folder-img"></div>
		    <div>4th Period</div>
		</div>
	    </div>
	</div>
    </div>
    <div id="right-content">
	<div id="search-content" class="right-cell img-rounded">
	    <div class="cell-content-holder">
		
		<form action="/search/" method="get">
			<input class="search-bar" id="n" type="text" name="q" placeholder="Search...">
			<button type="submit" value="Search" class="search_button"></button>
		</form>
		
	    </div>
	</div>
	
	<div class="right-cell img-rounded">
	    <div class="cell-content-holder">
		
	    </div>
	</div>
	
    </div>
</div>
<!------------------------------- End of content bar --------------------------------------->


    
</section>


	<script type="text/javascript" src="{% static "main_project/js/page.js" %}"></script>
	
<script>
$( document ).ready(function() {
    
    
    /*********************************Display User Avatar********************************/
    $( "#small-avatar" ).tooltip({ content: '<img class="img-rounded shadow" src="{% if userInfo.avatar %}{{ userInfo.avatar }}{% else %}{% static "main_project/images/menu.png" %}{% endif %}" width="250" height="250" alt="user"/>' });
    
    var current_number_questions = $("#list-header .question-list-item").length;
    var space_for_questions;
    
    
    resizeElements();
    
    $( window ).resize(function() {
	    resizeElements();
    });
	
    function resizeElements() {
	var windowWidth = $(window).width(); //retrieve current window width
	var windowHeight = $(window).height();
	
	if ($("#center-wrapper").width()<750) {
	    if ($(".bigitem img").attr('src')=='{% static "main_project/images/Simplesheets-dot-logo.png') {
		$(".bigitem img").fadeOut(300, function(){
		    $(".bigitem img").attr('src','{% static "main_project/images/Simplesheets-dot-shortlogo.png');
		    $(".bigitem img").fadeIn(300);
		});
	    }
	    
	}else{
	    if ($(".bigitem img").attr('src')=='{% static "main_project/images/Simplesheets-dot-shortlogo.png') {
		$(".bigitem img").fadeOut(300, function(){
		    $(".bigitem img").attr('src','{% static "main_project/images/Simplesheets-dot-logo.png');
		    $(".bigitem img").fadeIn(300);
		});
	    }
	}
	
	
    }
    
    
});


/******************************************** Function **************************************************/

    function setCookie(cname,cvalue,exdays){
	var d = new Date();
	d.setTime(d.getTime()+(exdays*24*60*60*1000));
	var expires = "expires="+d.toGMTString();
	document.cookie = cname + "=" + cvalue + "; " + expires;
    }
	
	
    function getCookie(cname){
	var name = cname + "=";
	var ca = document.cookie.split(';');
	for(var i=0; i<ca.length; i++){
	    var c = ca[i].trim();
	    if (c.indexOf(name)==0) return c.substring(name.length,c.length);
	  }
	return "";
    }
    







</script>
	
{% endblock %}
