{% extends 'small-base.html' %}
{% load staticfiles %}


{% block title %}SimpleSheets{% endblock %}



{% block extraHead %}
    <link rel="stylesheet" href="{% static "main_project/css/dashboard-style.css" %}" />
{% endblock %}

{% block body %}
	
<section id="wrapper-holder">
    
    <!--{% include "includes/popups.html" %}
<!------------------------------- Start of navigation bar --------------------------------------->
    <div id="white-bar">
	<div id="center-wrapper">
	    <div class="bigitem">
		    <div><a href="{% url "views.index" %}">
			<img id="downLogo" src="{% static "main_project/images/Simplesheets-dot-logo.png" %}" alt="home"/>
		    </a></div>
		<ul>
		    <li class="active">home</li>
		    <li class="select-choice">about</li>
		    <li class="select-choice">contact</li>
		</ul>
	    </div>
	    <div class="smallitem" style="font-size:14px;">
            <a id="auth-login" class="img-rounded" href="{% url "google_login.views.index" %}">Get Started</a>
	    </div>
	</div>
    </div>
<!------------------------------- End of navigation bar --------------------------------------->

{% endblock %}


