{% load staticfiles %}

<!DOCTYPE html>

<html>
<head>
    <title>{% block title %}No Title{% endblock %}</title>
    
    <script language="JavaScript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script language="JavaScript" type="text/javascript" src="{% static "main_project/js/jquery-ui-1.10.3.custom.js" %}"></script>
    
    <link href="{% static "main_project/css/jquery-ui-1.10.3.custom.css" %}" rel="stylesheet">
    
    <script type="text/javascript" src="{% static "main_project/js/spin.js" %}"></script>
	
    <link rel="stylesheet" href="{% static "main_project/css/main-style.css" %}" />

    {% block extraHead %}{% endblock %}
    
</head>

<body>
    
    {% block body %}{% endblock %}
    
</body>
</html> 
