{% extends "small-base.html" %}
{% load staticfiles %}


{% block title %}Worksheet{% endblock %}


{% block extraHead %}
    <link rel="stylesheet" href="{% static "main_project/css/dashboard-style.css" %}" />
{% endblock %}

{% block body %}
	
<section id="wrapper-holder">
    <!--{% include "includes/popups.html" %}
<!------------------------------- Start of navigation bar --------------------------------------->
    <div id="white-bar">
	<div id="center-wrapper">
	    <div class="bigitem">
		    <div><a href="{% url "worksheet_project.views.dashboard" %}">
			<img id="downLogo" src="{% static "main_project/images/Simplesheets-dot-logo.png" %}" alt="home"/>
		    </a></div>
            <div style="margin-top:35px;font-size:90%;">Please wait while we create your worksheet...</div>
	    </div>
	</div>
    </div>
<!------------------------------- End of navigation bar --------------------------------------->

    

<!------------------------------- Start of content bar --------------------------------------->
<div id="dashboard-wrapper">

<iframe class="img-rounded" style="width:100%;height:100%;" 
        src="//www.youtube.com/embed/4-KBwriCO-Q?theme=light&color=grey&modestbranding=1" frameborder="0" allowfullscreen
        autohide></iframe>


</div>
<!------------------------------- End of content bar --------------------------------------->


    
</section>


	<script type="text/javascript" src="{% static "main_project/js/page.js" %}"></script>
	
<script>
$( document ).ready(function() {
    
    resizeElements();
    
    $( window ).resize(function() {
	    resizeElements();
    });
	
    function resizeElements() {
	    var windowWidth = $(window).width(); //retrieve current window width
	    var windowHeight = $(window).height();
	
	    $("#dashboard-wrapper").css({
            "width": windowWidth+"px",
            "height": (windowHeight-170)+"px",
        });
    }
    
    
});


</script>
	
{% endblock %}




