{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Assign Worksheets{% endblock %}

{% block body %}



<div class="container">
  <div class="row">
    
    
    <div class="col-xs-12 col-md-9">
      <div>
        {% if classUser.teacher %}
        <div class="row">
          <div class="col-xs-12 col-sm-6">
		<button id="new-worksheet" class="btn btn-block btn-lg btn-primary rounded space disabled" data-toggle="modal" data-target="#assign-worksheets">
                <span class="glyphicon glyphicon-asterisk"></span>  assign worksheets
		</button>
          </div>
          <div class="col-xs-12 col-sm-6">
              <a href="{% url "google_drive.views.google_picker" %}"><button id="new-worksheet" class="btn btn-block btn-lg btn-success rounded space" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Create your first worksheet." data-original-title="Click here!">
                <span class="glyphicon glyphicon-file"></span>  new worksheet
              </button></a>
          </div>
        </div>
        {%endif%}
        
        <h3 class="text-default">Assignments</h3>
{% if allProjects %}
        <ul class="row list-unstyled">
          
          {% for worksheet in allProjects %}
          <!------------------------------ Worksheet Display ------------------------------------->
          <li class="col-xs-6 col-md-4">
            <div class="panel panel-default card-edpuzzle list-video-item rounded" data-options='{"worksheet_id":{{ worksheet.id }}}'>
	      <div class="panel-body">
                <div class="worksheet-badge">
                  <div class="btn-group">
                    <button type="button" class="btn bottom-rounded dropdown-toggle 
                    {% if worksheet.status == "active" %}
                      btn-success
                    {% elif worksheet.status == "pending" %}
                      btn-warning
                    {% else %}
                      btn-danger
                    {%endif%}" data-toggle="dropdown">
                      <span>{{ worksheet.status }}</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#"><i class="glyphicon glyphicon-play"></i>  activate</a></li>
                      <li><a href="#"><i class="glyphicon glyphicon-pause"></i>  pending</a></li>
                      <li class="divider"></li>
                      <li><a href="#"><i class="glyphicon glyphicon-stop"></i>  archive</a></li>
                    </ul>
                  </div>
                </div>
		<div class="img-assignment show-assignment-stats clickable">
		  <img src="{{ MEDIA_URL }}..{{ worksheet.thumb }}" alt="{{ worksheet.title|capfirst }}" height="" width="100%" class="img-responsive">
		  <div class="img-center">
		    <ul class="list-unstyled monitor-button">
		      <li><i class="checkButton fa fa-square-o fa-3x"></i></li>
                      <li><strong>Assign</strong></li>
		    </ul>
		  </div>
		</div>
		<div class="card-title">
		  <h5 class="text-center">{{ worksheet.title|capfirst }}</h5>
		</div>
	      </div>
	      <div class="panel-footer">
                <div class="btn-group visible-xs">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-tasks"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><i class="glyphicon glyphicon-eye-open"></i>  student view</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-pencil"></i>  edit</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-check"></i>  grade</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="glyphicon glyphicon-trash"></i>  trash</a></li>
                  </ul>
                </div>
                <div class="hidden-xs">
                  <button class="col-xs-6 col-sm-3 btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="student view">
                    <i class="glyphicon glyphicon-eye-open"></i>
                  </button>
                  <button class="col-xs-6 col-sm-3 btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="edit">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </button>
                  <button class="col-xs-6 col-sm-3 btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="grade">
                    <i class="glyphicon glyphicon-check"></i>
                  </button>
                  <button class="col-xs-6 col-sm-3 btn btn-default"><i class="glyphicon glyphicon-trash"></i></button>
                </div>
              </div>
            </div>
          </li>
          <!------------------------------ End of Worksheet Display ------------------------------------->
          {% endfor %}
          
        </ul>
{% else %}
  <h5>Sorry, there are no assignments yet.</h5>
{% endif %}
      </div>
    </div>
  </div>
</div>


{% if allClasses and classUser.teacher %}
<!---------------- modal ------------------------------------->
<div id="assign-worksheets" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">pick a class...</h4>
      </div>
      <div class="modal-body">
        <div id="class-spinner" style="display: none;margin: 80px 0;"></div>
	
{% if allClasses %}
  {% for class in allClasses %}
  <div class="row" style="margin-top: 5px;">
    <div class="col-xs-8 col-sm-6 text-center col-centered">
      <button type="button" class="class-button btn btn-block btn-primary text-center rounded" data-toggle="button"  data-options='{"class_id":{{ class.id }}}'>
	  <span>{{ class.name|capfirst }}</span>
      </button>
    </div><!-- /.col-lg-6 -->
  </div>
  {% endfor %}
  {%else%}
    <h5>Sorry, you don't have any classes yet.</h5>
  {% endif %}
  
  
  
      </div>
      <div class="modal-footer bottom-rounded">
        <button type="button" class="btn btn-default rounded" data-dismiss="modal">close</button>
        <button id="assignThis-button" type="button" class="btn btn-primary rounded disabled">assign</button>
      </div>
    </div>
  </div>
</div>
{%endif%}

{% endblock %}




{% block extraScript %}
  <script>
    var sendAssignmentsURL="{% url "worksheet_creator.ajax.assignWorksheets" %}";
  </script>
  <script src="{% static "page_view/js/spin.js" %}"></script>
  <script src="{% static "main_project/js/assign.js" %}"></script>
{% endblock %}