{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Assign Worksheets{% endblock %}

{% block body %}



<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <h3>Classes</h3>
{% if allClasses %}
      <ul id="classes-list" class="list-group">
        {% for class in allClasses %}
        {% ifnotequal class.id currentClass.id %}<a href="/classes/{{ class.id }}">{%endifnotequal%}
        <li class="list-group-item {% ifequal class.id currentClass.id %}active{%endifequal%}">
          <div class="list-class-item">
            <div class="pull-right">
              <button class="btn btn-xs btn-success rounded {% ifnotequal class.id currentClass.id %}hidden{%endifnotequal%}">
                <span class="glyphicon glyphicon-cog"></span>
              </button>
            </div>
            <div><p style="margin: 0;">{{ class.name|capfirst }}</p></div>
          </div>
        </li>
        {% ifnotequal class.id currentClass.id %}</a>{%endifnotequal%}
        {% endfor %}
      </ul>
  {%else%}
    <h5>Sorry, you don't have any classes yet.</h5>
  {% endif %}
              <button id="add-class" class="btn btn-block btn-info rounded space" data-toggle="modal" data-target="#new-class">
                <span class="glyphicon glyphicon-book"></span><span>{% if classUser.teacher %} new class{%else%} join a class{%endif%}</span>
              </button>
    </div>
    
    
    <div class="col-xs-12 col-md-9">
      <div>
        {% if classUser.teacher %}
        <div class="row">
          <div class="col-xs-12 col-sm-6">
              <a href="{% url "google_drive.views.google_picker" %}"><button id="new-worksheet" class="btn btn-block btn-lg btn-success rounded space" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Create your first worksheet." data-original-title="Click here!">
                <span class="glyphicon glyphicon-file"></span>  new worksheet
              </button></a>
          </div>
        </div>
        {%endif%}
        
        <h3 class="text-default">Assignments</h3>
{% if allProjects %}
        <ul class="row list-unstyled">
          
          {% for worksheet in allProjects %}
          <!------------------------------ Worksheet Display ------------------------------------->
          <li class="col-xs-6 col-md-4">
            <div class="panel panel-default card-edpuzzle list-video-item rounded">
	      <div class="panel-body">
                <div class="worksheet-badge">
                  <div class="btn-group">
                    <button type="button" class="btn bottom-rounded dropdown-toggle 
                    {% if worksheet.status == "active" %}
                      btn-success
                    {% elif worksheet.status == "pending" %}
                      btn-warning
                    {% else %}
                      btn-danger
                    {%endif%}" data-toggle="dropdown">
                      <span>{{ worksheet.status }}</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#"><i class="glyphicon glyphicon-play"></i>  activate</a></li>
                      <li><a href="#"><i class="glyphicon glyphicon-pause"></i>  pending</a></li>
                      <li class="divider"></li>
                      <li><a href="#"><i class="glyphicon glyphicon-stop"></i>  archive</a></li>
                    </ul>
                  </div>
                </div>
		<div class="img-assignment show-assignment-stats clickable">
		  <img src="{{ MEDIA_URL }}..{{ worksheet.thumb }}" alt="{{ worksheet.title|capfirst }}" height="" width="100%" class="img-responsive">
		  <div class="img-center">
		    <ul class="list-unstyled monitor-button" data-toggle="popover" data-placement="bottom" data-content="See your students progress!" data-original-title="" title="">
		      <li><i class="glyphicon glyphicon-stats" style="font-size: 30px;"></i></li>
                      <li><strong>Monitor</strong></li>
		    </ul>
		  </div>
		</div>
		<div class="card-title">
		  <h5 class="text-center">{{ worksheet.title|capfirst }}</h5>
		</div>
	      </div>
	      <div class="panel-footer">
                <div class="btn-group visible-xs">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-tasks"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><i class="glyphicon glyphicon-eye-open"></i>  student view</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-pencil"></i>  edit</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-check"></i>  grade</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="glyphicon glyphicon-trash"></i>  trash</a></li>
                  </ul>
                </div>
                <div class="hidden-xs">
                  <button class="col-xs-6 col-sm-3 btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="student view">
                    <i class="glyphicon glyphicon-eye-open"></i>
                  </button>
                  <button class="col-xs-6 col-sm-3 btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="edit">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </button>
                  <button class="col-xs-6 col-sm-3 btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="grade">
                    <i class="glyphicon glyphicon-check"></i>
                  </button>
                  <button class="col-xs-6 col-sm-3 btn btn-default"><i class="glyphicon glyphicon-trash"></i></button>
                </div>
              </div>
            </div>
          </li>
          <!------------------------------ End of Worksheet Display ------------------------------------->
          {% endfor %}
          
        </ul>
{% else %}
  <h5>Sorry, there are no assignments yet.</h5>
{% endif %}
      </div>
    </div>
  </div>
</div>

<!---------------- modal ------------------------------------->
<div id="new-class" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">create a class</h4>
      </div>
      <div class="modal-body">
            <form id="create-class-form" action="{% url "classrooms.ajax.createGroup" %}" enctype='multipart/form-data' method="post" autocomplete="off">{% csrf_token %}
              <div class="row">
                      <div class="col-xs-12 col-sm-8 col-md-offset-2 text-center">
                        <div class="google-input-holder">
                          <span class="glyphicon glyphicon-home"></span>
                          <input type="text" name="group_name" minlength="3" maxlength="40" required value="" placeholder="Class Name..." autofocus>
                          <span class="register-check register-check-error"></span>
                        </div>
                      </div>
              </div>
            </form>
      </div>
      <div class="modal-footer bottom-rounded">
        <button type="button" class="btn btn-default rounded" data-dismiss="modal">close</button>
        <button type="submit" form="create-class-form" class="btn btn-primary rounded">create</button>
      </div>
    </div>
  </div>
</div>

{% if currentClass %}
<!---------------- modal ------------------------------------->
<div id="class-code" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">class code</h4>
      </div>
      <div class="modal-body text-center text-danger">
        
        <span style="font-size: 600%;font-weight: bold;">{{ currentClass.code }}</span>
        
      </div>
    </div>
  </div>
</div>
{%endif%}

{% if allClasses and classUser.teacher %}
<!---------------- modal ------------------------------------->
<div id="assign-worksheets" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">pick a worksheet</h4>
      </div>
      <div class="modal-body">
        <div id="class-spinner" style="margin: 80px 0;"></div>
        <div id="no-worksheets" class="rounded">Sorry, no more worksheets.</div>
        <ul id="worksheet-display" class="row list-unstyled" style="display: none;padding: 10px;">
          <li class="row header">
            <div class="col-xs-12 col-sm-6">NAME:</div>
            <div class="hidden-xs col-sm-3">CREATED:</div>
            <div class="hidden-xs col-sm-3">STATUS:</div>
          </li>
        </ul>
      </div>
      <div class="modal-footer bottom-rounded">
        <form class="col-xs-12 col-sm-6" style="margin-bottom: 5px;">
          <input id="search-bar" type="text" class="form-control rounded" placeholder="Search" style="width: 200px;background-color: #ADADAD;">
        </form>
        <button type="button" class="btn btn-default rounded" data-dismiss="modal">close</button>
        <button id="prevWorksheet-button" type="button" class="btn btn-primary rounded">prev</button>
        <button id="nextWorksheet-button" type="button" class="btn btn-primary rounded">next</button>
      </div>
    </div>
  </div>
</div>
{%endif%}

{% endblock %}




{% block extraScript %}
  <script>var getWorksheetsURL="{% url "worksheet_creator.page_view_ajax.getWorksheets" %}"</script>
  <script src="{% static "page_view/js/spin.js" %}"></script>
  <script src="{% static "main_project/js/classes.js" %}"></script>
{% endblock %}