{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="shortcut icon" href="../../assets/ico/favicon.ico">-->

    <title>{% block title %}No Title{% endblock %}</title>
    
    {% block extraTopHead %}{% endblock %}
    
    <!-- Bootstrap core CSS -->
    <link href="{% static "main_project/css/edstyle.css" %}" rel="stylesheet">
    <link href="{% static "main_project/css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "main_project/css/bootswatch.css" %}" rel="stylesheet">
        
        
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="{% static "main_project/js/ie8-responsive-file-warning.js" %}"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- Font Awesome -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
      
    <link href="{% static "main_project/css/theme.css" %}" rel="stylesheet">
    
    {% block extraBottomHead %}{% endblock %}
    
  </head>

  <body role="document">
{% if not index %}
<!-----------------Nav bar -------------------------------------------------------------->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header col-sm-3">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand hidden-xs" href="{% url "worksheet_project.views.dashboard" %}">
      <img style="width:120%;max-width: 200px;margin:-5px 0 0 -10px;" src="{% static "main_project/images/Simplesheets-dot-logo.png" %}" alt="SimpleSheets" />
    </a>
    <a class="navbar-brand col-xs-8 visible-xs" href="{% url "worksheet_project.views.dashboard" %}">
      <img style="width:120%;max-width:200px;margin-top:-8px;" src="{% static "main_project/images/Simplesheets-dot-logo.png" %}" alt="SimpleSheets" />
    </a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li class="{% if dashboard %}active{% endif %}"><a href="{% url "worksheet_project.views.dashboard" %}">dashboard</a></li>
      <li class="dropdown {% if worksheet %}active{% endif %}">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">worksheets</span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url "google_drive.views.google_picker" %}"><span class="glyphicon glyphicon-file"></span>  create</a></li>
          <li><a href="{% url "worksheet_project.views.assign" %}"><span class="glyphicon glyphicon-file"></span>  assign</a></li>
          <li><a href="{% url "worksheet_project.views.monitor" %}"><span class="glyphicon glyphicon-stats"></span>  monitor</a></li>
        </ul>
      </li>
      <li class="{% if classes %}active{% endif %}"><a href="{% url "worksheet_project.views.classes" %}">classes</a></li>
      
      <li class="dropdown visible-sm">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-search"></span></a>
        <ul class="dropdown-menu">
          <form class="navbar-form navbar-left" style="width: 19%;">
            <input id="search-bar" type="text" class="form-control" placeholder="Search" style="width: 200px;background-color: #ADADAD;">
          </form>
        </ul>
      </li>
      
    </ul>
    
    
    <form class="navbar-form navbar-left hidden-sm">
      <input id="search-bar" type="text" class="form-control" placeholder="Search" style="width: 200px;background-color: #ADADAD;">
    </form>
    
    
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-bell"></span> <span class="badge">3</span><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">some info here asdf asdf asdf asdf</a></li>
          <li class="divider"></li>
          <li><a href="#">some info here asdf asdf asdf asdf</a></li>
          <li class="divider"></li>
          <li><a href="#">some info here asdf asdf asdf asdf</a></li>
        </ul>
      </li>
      <li class="dropdown {% if profile %}active{% endif %}">
        <a href="#" class="dropdown-toggle hidden-sm hidden-md" data-toggle="dropdown">{% if userInfo.user.first_name %}{{ userInfo.user.first_name|capfirst }}{% endif %}  <span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
        <a href="#" class="dropdown-toggle visible-sm visible-md" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{% url "worksheet_project.views.profile" %}"><span class="glyphicon glyphicon-user"></span>  edit profile</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-cog"></span>  settings</a></li>
          <li class="divider"></li>
          <li><a href="/google/logout/"><span class="glyphicon glyphicon-log-out"></span>  sign out</a></li>
        </ul>
      </li>
    </ul>
    
    
  </div>
</div>
<!-------------------------End Navbar --------------------------------------------------->
{% endif %}

{% block body %}{% endblock %}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    <script src="{% static "main_project/js/jquery.form.js" %}"></script>
    <script src="{% static "main_project/js/bootstrap.min.js" %}"></script>
    <script src="{% static "main_project/js/bootswatch.js" %}"></script>
    <script src="{% static "main_project/js/my-script.js" %}"></script>
  
{% block extraScript %}{% endblock %}
  
  </body>
</html>
