{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Dashboard{% endblock %}

{% block body %}



<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <h3>Classes</h3>
      <ul id="classes-list" class="list-group">
        <li class="list-group-item clickable">
          <div class="list-class-item">
            <div class="pull-right">
              <button class="btn btn-xs btn-success rounded hidden">
                <span class="glyphicon glyphicon-cog"></span>
              </button>
            </div>
            <div><p style="margin: 0;">1st Period</p></div>
          </div>
        </li>
        <li class="list-group-item active">
          <div class="list-class-item">
            <div class="pull-right">
              <button class="btn btn-xs btn-success rounded">
                <span class="glyphicon glyphicon-cog"></span>
              </button>
            </div>
            <div><p style="margin: 0;">2nd Period</p></div>
          </div>
        </li>
      </ul>
              <button id="add-class" class="btn btn-block btn-info rounded space" data-toggle="modal" data-target="#new-class">
                <span class="glyphicon glyphicon-book"><span> new class</span>
              </button>
              <button id="add-class" class="btn btn-block btn-warning rounded space" data-toggle="modal" data-target="#new-class">
                <span class="glyphicon glyphicon-file"><span> assign worksheets</span>
              </button>
    </div>
    
    
    <div class="col-xs-12 col-md-9">
      <div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
              <button id="class-code-container" class="btn btn-block btn-lg btn-warning rounded space" data-toggle="modal" data-target="#class-code">
                Class code: <span class="class-code">erM44E</button>
              </button>
          </div>
          <br class="visible-xs">
          <div class="col-xs-12 col-sm-6">
              <button id="new-worksheet" class="btn btn-block btn-lg btn-success rounded space" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Create your first worksheet." data-original-title="Click here!">
                <span class="glyphicon glyphicon-file"></span>  new worksheet
              </button>
          </div>
        </div>
      
        <h3 class="text-default">Assignments</h3>
        <ul class="row list-unstyled">
          
          <!------------------------------ Worksheet Display ------------------------------------->
          <li class="col-xs-6 col-md-4">
            <div class="panel panel-default card-edpuzzle list-video-item rounded">
	      <div class="panel-body">
                <div class="worksheet-badge">
                  <div class="btn-group">
                    <button type="button" class="btn btn-success bottom-rounded dropdown-toggle" data-toggle="dropdown">
                      <span>active</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#"><i class="glyphicon glyphicon-play"></i>  activate</a></li>
                      <li><a href="#"><i class="glyphicon glyphicon-pause"></i>  pending</a></li>
                      <li class="divider"></li>
                      <li><a href="#"><i class="glyphicon glyphicon-stop"></i>  archive</a></li>
                    </ul>
                  </div>
                </div>
		<div class="img-assignment show-assignment-stats clickable">
		  <img src="images/thumbnail.png" alt="simple machines" height="" width="100%" class="img-responsive">
		  <div class="img-center">
		    <ul class="list-unstyled monitor-button" data-toggle="popover" data-placement="bottom" data-content="See your students progress!" data-original-title="" title="">
		      <li><i class="glyphicon glyphicon-stats" style="font-size: 30px;"></i></li>
                      <li><strong>Monitor</strong></li>
		    </ul>
		  </div>
		</div>
		<div class="card-title">
		  <h5 class="text-center">Simple Machines</h5>
		</div>
	      </div>
	      <div class="panel-footer">
                <div class="btn-group visible-xs">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-tasks"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><i class="glyphicon glyphicon-eye-open"></i>  student view</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-pencil"></i>  edit</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-check"></i>  grade</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="glyphicon glyphicon-trash"></i>  trash</a></li>
                  </ul>
                </div>
                <div class="hidden-xs">
                  <button class="col-xs-6 col-sm-3 btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="student view">
                    <i class="glyphicon glyphicon-eye-open"></i>
                  </button>
                  <button class="col-xs-6 col-sm-3 btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="edit">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </button>
                  <button class="col-xs-6 col-sm-3 btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="grade">
                    <i class="glyphicon glyphicon-check"></i>
                  </button>
                  <button class="col-xs-6 col-sm-3 btn btn-default"><i class="glyphicon glyphicon-trash"></i></button>
                </div>
              </div>
            </div>
          </li>
          <!------------------------------ End of Worksheet Display ------------------------------------->
          
          
          <!------------------------------ Worksheet Display ------------------------------------->
          <li class="col-xs-6 col-md-4">
            <div class="panel panel-default card-edpuzzle list-video-item rounded">
	      <div class="panel-body">
                <div class="worksheet-badge">
                  <div class="btn-group">
                    <button type="button" class="btn btn-warning bottom-rounded dropdown-toggle" data-toggle="dropdown">
                      <span>pending</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#"><i class="glyphicon glyphicon-play"></i>  activate</a></li>
                      <li><a href="#"><i class="glyphicon glyphicon-pause"></i>  pending</a></li>
                      <li class="divider"></li>
                      <li><a href="#"><i class="glyphicon glyphicon-stop"></i>  archive</a></li>
                    </ul>
                  </div>
                </div>
		<div class="img-assignment show-assignment-stats clickable">
		  <img src="images/thumbnail.png" alt="simple machines" height="" width="100%" class="img-responsive">
		  <div class="img-center">
		    <ul class="list-unstyled monitor-button" data-toggle="popover" data-placement="bottom" data-content="See your students progress!" data-original-title="" title="">
		      <li><i class="glyphicon glyphicon-stats" style="font-size: 30px;"></i></li>
                      <li><strong>Monitor</strong></li>
		    </ul>
		  </div>
		</div>
		<div class="card-title">
		  <h5 class="text-center">Simple Machines</h5>
		</div>
	      </div>
	      <div class="panel-footer">
                <div class="btn-group visible-xs">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-tasks"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><i class="glyphicon glyphicon-eye-open"></i>  student view</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-pencil"></i>  edit</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-check"></i>  grade</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="glyphicon glyphicon-trash"></i>  trash</a></li>
                  </ul>
                </div>
                <div class="hidden-xs">
                  <button class="col-xs-6 col-sm-3 btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="student view">
                    <i class="glyphicon glyphicon-eye-open"></i>
                  </button>
                  <button class="col-xs-6 col-sm-3 btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="edit">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </button>
                  <button class="col-xs-6 col-sm-3 btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="grade">
                    <i class="glyphicon glyphicon-check"></i>
                  </button>
                  <button class="col-xs-6 col-sm-3 btn btn-default"><i class="glyphicon glyphicon-trash"></i></button>
                </div>
              </div>
            </div>
          </li>
          <!------------------------------ End of Worksheet Display ------------------------------------->
          
          <!------------------------------ Worksheet Display ------------------------------------->
          <li class="col-xs-6 col-md-4">
            <div class="panel panel-default card-edpuzzle list-video-item rounded">
	      <div class="panel-body">
                <div class="worksheet-badge">
                  <div class="btn-group">
                    <button type="button" class="btn btn-danger bottom-rounded dropdown-toggle" data-toggle="dropdown">
                      <span>archived</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#"><i class="glyphicon glyphicon-play"></i>  activate</a></li>
                      <li><a href="#"><i class="glyphicon glyphicon-pause"></i>  pending</a></li>
                      <li class="divider"></li>
                      <li><a href="#"><i class="glyphicon glyphicon-stop"></i>  archive</a></li>
                    </ul>
                  </div>
                </div>
		<div class="img-assignment show-assignment-stats clickable">
		  <img src="images/thumbnail.png" alt="simple machines" height="" width="100%" class="img-responsive">
		  <div class="img-center">
		    <ul class="list-unstyled monitor-button" data-toggle="popover" data-placement="bottom" data-content="See your students progress!" data-original-title="" title="">
		      <li><i class="glyphicon glyphicon-stats" style="font-size: 30px;"></i></li>
                      <li><strong>Monitor</strong></li>
		    </ul>
		  </div>
		</div>
		<div class="card-title">
		  <h5 class="text-center">Simple Machines</h5>
		</div>
	      </div>
	      <div class="panel-footer">
                <div class="btn-group visible-xs">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-tasks"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><i class="glyphicon glyphicon-eye-open"></i>  student view</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-pencil"></i>  edit</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-check"></i>  grade</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="glyphicon glyphicon-trash"></i>  trash</a></li>
                  </ul>
                </div>
                <div class="hidden-xs">
                  <button class="col-xs-6 col-sm-3 btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="student view">
                    <i class="glyphicon glyphicon-eye-open"></i>
                  </button>
                  <button class="col-xs-6 col-sm-3 btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="edit">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </button>
                  <button class="col-xs-6 col-sm-3 btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="grade">
                    <i class="glyphicon glyphicon-check"></i>
                  </button>
                  <button class="col-xs-6 col-sm-3 btn btn-default"><i class="glyphicon glyphicon-trash"></i></button>
                </div>
              </div>
            </div>
          </li>
          <!------------------------------ End of Worksheet Display ------------------------------------->
          
          <!------------------------------ Worksheet Display ------------------------------------->
          <li class="col-xs-6 col-md-4">
            <div class="panel panel-default card-edpuzzle list-video-item rounded">
	      <div class="panel-body">
		<div class="img-assignment show-assignment-stats clickable">
		  <img src="images/thumbnail.png" alt="simple machines" height="" width="100%" class="img-responsive">
		  <div class="img-center">
		    <ul class="list-unstyled monitor-button" data-toggle="popover" data-placement="bottom" data-content="See your students progress!" data-original-title="" title="">
		      <li><i class="glyphicon glyphicon-stats" style="font-size: 30px;"></i></li>
                      <li><strong>Monitor</strong></li>
		    </ul>
		  </div>
		</div>
		<div class="card-title">
		  <h5 class="text-center">Simple Machines</h5>
		</div>
	      </div>
	      <div class="panel-footer">
                <div class="btn-group visible-xs">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-tasks"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><i class="glyphicon glyphicon-eye-open"></i>  student view</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-pencil"></i>  edit</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-check"></i>  grade</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="glyphicon glyphicon-trash"></i>  trash</a></li>
                  </ul>
                </div>
                <div class="hidden-xs">
                  <button class="col-xs-6 col-sm-3 btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="student view">
                    <i class="glyphicon glyphicon-eye-open"></i>
                  </button>
                  <button class="col-xs-6 col-sm-3 btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="edit">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </button>
                  <button class="col-xs-6 col-sm-3 btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="grade">
                    <i class="glyphicon glyphicon-check"></i>
                  </button>
                  <button class="col-xs-6 col-sm-3 btn btn-default"><i class="glyphicon glyphicon-trash"></i></button>
                </div>
              </div>
            </div>
          </li>
          <!------------------------------ End of Worksheet Display ------------------------------------->
          
          <!------------------------------ Worksheet Display ------------------------------------->
          <li class="col-xs-6 col-md-4">
            <div class="panel panel-default card-edpuzzle list-video-item rounded">
	      <div class="panel-body">
		<div class="img-assignment show-assignment-stats clickable">
		  <img src="images/thumbnail.png" alt="simple machines" height="" width="100%" class="img-responsive">
		  <div class="img-center">
		    <ul class="list-unstyled monitor-button" data-toggle="popover" data-placement="bottom" data-content="See your students progress!" data-original-title="" title="">
		      <li><i class="glyphicon glyphicon-stats" style="font-size: 30px;"></i></li>
                      <li><strong>Monitor</strong></li>
		    </ul>
		  </div>
		</div>
		<div class="card-title">
		  <h5 class="text-center">Simple Machines</h5>
		</div>
	      </div>
	      <div class="panel-footer">
                <div class="btn-group visible-xs">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-tasks"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><i class="glyphicon glyphicon-eye-open"></i>  student view</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-pencil"></i>  edit</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-check"></i>  grade</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="glyphicon glyphicon-trash"></i>  trash</a></li>
                  </ul>
                </div>
                <div class="hidden-xs">
                  <button class="col-xs-6 col-sm-3 btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="student view">
                    <i class="glyphicon glyphicon-eye-open"></i>
                  </button>
                  <button class="col-xs-6 col-sm-3 btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="edit">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </button>
                  <button class="col-xs-6 col-sm-3 btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="grade">
                    <i class="glyphicon glyphicon-check"></i>
                  </button>
                  <button class="col-xs-6 col-sm-3 btn btn-default"><i class="glyphicon glyphicon-trash"></i></button>
                </div>
              </div>
            </div>
          </li>
          <!------------------------------ End of Worksheet Display ------------------------------------->
          
          <!------------------------------ Worksheet Display ------------------------------------->
          <li class="col-xs-6 col-md-4">
            <div class="panel panel-default card-edpuzzle list-video-item rounded">
	      <div class="panel-body">
		<div class="img-assignment show-assignment-stats clickable">
		  <img src="images/thumbnail.png" alt="simple machines" height="" width="100%" class="img-responsive">
		  <div class="img-center">
		    <ul class="list-unstyled monitor-button" data-toggle="popover" data-placement="bottom" data-content="See your students progress!" data-original-title="" title="">
		      <li><i class="glyphicon glyphicon-stats" style="font-size: 30px;"></i></li>
                      <li><strong>Monitor</strong></li>
		    </ul>
		  </div>
		</div>
		<div class="card-title">
		  <h5 class="text-center">Simple Machines</h5>
		</div>
	      </div>
	      <div class="panel-footer">
                <div class="btn-group visible-xs">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-tasks"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><i class="glyphicon glyphicon-eye-open"></i>  student view</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-pencil"></i>  edit</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-check"></i>  grade</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="glyphicon glyphicon-trash"></i>  trash</a></li>
                  </ul>
                </div>
                <div class="hidden-xs">
                  <button class="col-xs-6 col-sm-3 btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="student view">
                    <i class="glyphicon glyphicon-eye-open"></i>
                  </button>
                  <button class="col-xs-6 col-sm-3 btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="edit">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </button>
                  <button class="col-xs-6 col-sm-3 btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="grade">
                    <i class="glyphicon glyphicon-check"></i>
                  </button>
                  <button class="col-xs-6 col-sm-3 btn btn-default"><i class="glyphicon glyphicon-trash"></i></button>
                </div>
              </div>
            </div>
          </li>
          <!------------------------------ End of Worksheet Display ------------------------------------->
          
          <!------------------------------ Worksheet Display ------------------------------------->
          <li class="col-xs-6 col-md-4">
            <div class="panel panel-default card-edpuzzle list-video-item rounded">
	      <div class="panel-body">
		<div class="img-assignment show-assignment-stats clickable">
		  <img src="images/thumbnail.png" alt="simple machines" height="" width="100%" class="img-responsive">
		  <div class="img-center">
		    <ul class="list-unstyled monitor-button" data-toggle="popover" data-placement="bottom" data-content="See your students progress!" data-original-title="" title="">
		      <li><i class="glyphicon glyphicon-stats" style="font-size: 30px;"></i></li>
                      <li><strong>Monitor</strong></li>
		    </ul>
		  </div>
		</div>
		<div class="card-title">
		  <h5 class="text-center">Simple Machines</h5>
		</div>
	      </div>
	      <div class="panel-footer">
                <div class="btn-group visible-xs">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-tasks"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><i class="glyphicon glyphicon-eye-open"></i>  student view</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-pencil"></i>  edit</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-check"></i>  grade</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="glyphicon glyphicon-trash"></i>  trash</a></li>
                  </ul>
                </div>
                <div class="hidden-xs">
                  <button class="col-xs-6 col-sm-3 btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="student view">
                    <i class="glyphicon glyphicon-eye-open"></i>
                  </button>
                  <button class="col-xs-6 col-sm-3 btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="edit">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </button>
                  <button class="col-xs-6 col-sm-3 btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="grade">
                    <i class="glyphicon glyphicon-check"></i>
                  </button>
                  <button class="col-xs-6 col-sm-3 btn btn-default"><i class="glyphicon glyphicon-trash"></i></button>
                </div>
              </div>
            </div>
          </li>
          <!------------------------------ End of Worksheet Display ------------------------------------->
          
          <!------------------------------ Worksheet Display ------------------------------------->
          <li class="col-xs-6 col-md-4">
            <div class="panel panel-default card-edpuzzle list-video-item rounded">
	      <div class="panel-body">
		<div class="img-assignment show-assignment-stats clickable">
		  <img src="images/thumbnail.png" alt="simple machines" height="" width="100%" class="img-responsive">
		  <div class="img-center">
		    <ul class="list-unstyled monitor-button" data-toggle="popover" data-placement="bottom" data-content="See your students progress!" data-original-title="" title="">
		      <li><i class="glyphicon glyphicon-stats" style="font-size: 30px;"></i></li>
                      <li><strong>Monitor</strong></li>
		    </ul>
		  </div>
		</div>
		<div class="card-title">
		  <h5 class="text-center">Simple Machines</h5>
		</div>
	      </div>
	      <div class="panel-footer">
                <div class="btn-group visible-xs">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-tasks"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><i class="glyphicon glyphicon-eye-open"></i>  student view</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-pencil"></i>  edit</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-check"></i>  grade</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="glyphicon glyphicon-trash"></i>  trash</a></li>
                  </ul>
                </div>
                <div class="hidden-xs">
                  <button class="col-xs-6 col-sm-3 btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="student view">
                    <i class="glyphicon glyphicon-eye-open"></i>
                  </button>
                  <button class="col-xs-6 col-sm-3 btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="edit">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </button>
                  <button class="col-xs-6 col-sm-3 btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="grade">
                    <i class="glyphicon glyphicon-check"></i>
                  </button>
                  <button class="col-xs-6 col-sm-3 btn btn-default"><i class="glyphicon glyphicon-trash"></i></button>
                </div>
              </div>
            </div>
          </li>
          <!------------------------------ End of Worksheet Display ------------------------------------->
          
          
          
          
          
        </ul>
      </div>
    </div>
  </div>
</div>

<!---------------- modal ------------------------------------->
<div id="new-class" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Create a Class</h4>
      </div>
      <div class="modal-body">
        
        <form id="className-form" action="" >
          <input name="className" type="text" class="form-control rounded" placeholder="class name...">
        </form>
        
      </div>
      <div class="modal-footer bottom-rounded">
        <button type="button" class="btn btn-default rounded" data-dismiss="modal">Close</button>
        <button type="submit" form="className-form" class="btn btn-primary rounded">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!---------------- modal ------------------------------------->
<div id="class-code" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Class Code</h4>
      </div>
      <div class="modal-body text-center text-danger">
        
        <span style="font-size: 600%;font-weight: bold;">erM44E</span>
        
      </div>
    </div>
  </div>
</div>

{% endblock %}