{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Dashboard{% endblock %}

{% block body %}



<div class="container">
  <div class="row">
    <h3>Welcome to SimpleSheets</h3>
    <p>Follow these steps and you will quickly be able to transform any document or pdf into an automatically graded online worksheet for your classroom.</p>
  </div>
</div>
<div class="container">
  <div class="row alert alert-info rounded">
      <div class="col-xs-4 col-sm-2 col-md-1">
        <div class="round-button">1</div>
      </div>
      <div class="col-xs-8 col-sm-6 col-lg-5">
        <p><strong>create a worksheet</strong></p>
        <p>Pick a document or pdf from your Google Drive, Dropbox or computer.</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <a href="{% url "google_drive.views.google_picker" %}" class="btn btn-primary btn-block btn-lg rounded" role="button" style="margin: 15px 0 0 0;color: #FFF;"><span class="glyphicon glyphicon-file"></span><strong>  Create a Worksheet</strong></a>
      </div>
  </div>
</div>
<div class="container">
  <div class="row well success rounded">
      <div class="col-xs-4 col-sm-2 col-md-1">
        <div class="round-button"><span class="text-success glyphicon glyphicon-ok"></span></div>
      </div>
      <div class="col-xs-8 col-sm-6 col-lg-5">
        <p><strong>create a classroom</strong></p>
        <p>Because you need a place to handout worksheets.</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <button class="btn btn-success btn-block btn-lg rounded" style="margin: 15px 0 0 0;"><span class="glyphicon glyphicon-book"></span><strong>  Create a Class</strong></button>
      </div>
  </div>
</div>
<div class="container">
  <div class="row well rounded">
      <div class="col-xs-4 col-sm-2 col-md-1">
        <div class="round-button">3</div>
      </div>
      <div class="col-xs-8 col-sm-6 col-lg-5">
        <p><strong>handout your worksheet</strong></p>
        <p>Because your students need something to do.</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <button class="btn btn-info btn-block btn-lg rounded" style="margin: 15px 0 0 0;"><span class="glyphicon glyphicon-file"></span><strong>  Assign a Worksheet</strong></button>
      </div>
  </div>
</div>
<div class="container">
  <div class="row well rounded">
      <div class="col-xs-4 col-sm-2 col-md-1">
        <div class="round-button">4</div>
      </div>
      <div class="col-xs-8 col-sm-6 col-lg-5">
        <p><strong>actively monitor your students</strong></p>
        <p>Because you need to know who needs help, now not later!</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <button class="btn btn-info btn-block btn-lg rounded" style="margin: 15px 0 0 0;"><span class="glyphicon glyphicon-stats"></span><strong>  Monitor</strong></button>
      </div>
  </div>
</div>

{% endblock %}