{% extends "base.html" %}
{% load staticfiles %}


{% block title %}SimpleSheets{% endblock %}

{% block extraBottomHead %}
  <link href="{% static "google_login/css/google-login-style.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}

<!-----------------Nav bar -------------------------------------------------------------->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header col-sm-3">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand hidden-xs" href="#">
      <img style="width:120%;max-width: 200px;margin:-5px 0 0 -10px;" src="{% static "main_project/images/Simplesheets-dot-logo.png" %}" alt="SimpleSheets" />
    </a>
    <a class="navbar-brand col-xs-8 visible-xs" href="#">
      <img style="width:120%;max-width:200px;margin-top:-8px;" src="{% static "main_project/images/Simplesheets-dot-logo.png" %}" alt="SimpleSheets" />
    </a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">home</a></li>
      <li><a href="#">about</a></li>
      <li><a href="#">contact</a></li>
    </ul>
    
    
    <ul class="nav navbar-nav navbar-right">
      <button class="btn btn-success rounded" data-toggle="modal" data-target="#sign-in" style="margin: 20px 30px 0 10px;">get started</button>      
    </ul>
    
    
  </div>
</div>
<!-------------------------End Navbar --------------------------------------------------->



    <div class="container theme-showcase" role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a href="#" class="btn btn-primary btn-lg rounded" role="button">Learn more &raquo;</a></p>
      </div>
    </div>


<!---------------- modal ------------------------------------->
<div id="sign-in" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">sign in</h4>
      </div>
      <div class="modal-body centered">
            <form id="google-authorization-form" autocomplete="off">{% csrf_token %}
                    <div class="row">
                      
              <div class="row">
              <div class="col-xs-6 col-sm-5 col-sm-offset-1 text-center">
                <button class="btn btn-block btn-social btn-danger rounded google-authorize" type="button" onclick="$('#sign-in').modal('hide');">
                  <span> <img class="rounded" style="width: 38px;margin: 0px;border: none;" src="{% static "main_project/images/g-plus.jpg" %}" width="80" alt=""> </span><span> Connect with Google</span>
                </button>
              </div>
              <div class="col-xs-6 col-sm-5 text-center">
                <button class="btn btn-block btn-social btn-info rounded" id="edmodo-authorize" type="button">
                  <span> <img style="width: 25px;margin: 6px 2px 2px 3px;border: none;" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/41205/edmodo-icon_1.png" width="80" alt=""> </span><span> Connect with Edmodo</span>
                </button>
              </div>
            </div>
                      <div class="col-xs-12 col-sm-6 col-md-offset-3 text-center top15">
                        <div id="google-login-error">incorrect username or password</div>
                      </div>
                      <div class="col-xs-12 col-sm-8 col-md-offset-2">
                      <div class="google-input-holder">
                            <span class="glyphicon glyphicon-user"></span>
                            <input id="google-username" type="text" name="username" value="" placeholder="Username or email..." autofocus>
                      </div>
                      </div>
                      <div class="col-xs-12 col-sm-8 col-md-offset-2">
                      <div class="google-input-holder">
                            <span class="glyphicon glyphicon-lock"></span>
                            <input id="google-password" type="password" name="password" value="" placeholder="Password...">
                      </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-offset-3 text-center">
                        <a data-toggle="modal" data-target="#recover-forgotten-password" onclick="$('#sign-in').modal('hide');"><div class="forgot-password" style="font-size: 12px;">forgot my username or password</div></a>
                      </div>
                    </div>
            </form>
      </div>
      <div class="modal-footer bottom-rounded">
        <div class="col-xs-6">
          <button id="google-sign-in" type="button" class="btn btn-block btn-lg btn-success rounded">sign in</button>
        </div>
        <div class="col-xs-6">
          <button type="button" class="btn btn-block btn-lg btn-primary rounded" data-toggle="modal" data-target="#register-user" onclick="$('#sign-in').modal('hide');">sign up</button>
        </div>
      </div>
    </div>
  </div>
</div>





<!---------------- modal ------------------------------------->
<div id="register-user" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">sign up</h4>
      </div>
      <div class="modal-body centered">
            <form id="google-registration-form" autocomplete="off">{% csrf_token %}
                    <div class="row">
              <div class="row">
              <div class="col-xs-6 col-sm-5 col-sm-offset-1 text-center">
                <button class="btn btn-block btn-social btn-danger rounded google-authorize" type="button">
                  <span> <img class="rounded" style="width: 38px;margin: 0px;border: none;" src="{% static "main_project/images/g-plus.jpg" %}" width="80" alt=""> </span><span> Connect with Google</span>
                </button>
              </div>
              <div class="col-xs-6 col-sm-5 text-center">
                <button class="btn btn-block btn-social btn-info rounded" id="edmodo-authorize" type="button">
                  <span> <img style="width: 25px;margin: 6px 2px 2px 3px;border: none;" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/41205/edmodo-icon_1.png" width="80" alt=""> </span><span> Connect with Edmodo</span>
                </button>
              </div>
            </div>
                      <div class="col-xs-12 col-sm-6 col-md-offset-3 text-center top15">
                        <div id="username-register-error" class="error-panel"></div>
                      </div>
                      <div class="col-xs-12 col-sm-8 col-md-offset-2">
                        <div class="google-input-holder">
                          <span class="glyphicon glyphicon-user"></span>
                          <input id="google-register-username" type="text" name="username" value="" placeholder="Username..." autofocus>
                          <span id="register-check-username" class="register-check-good"></span>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-offset-3 text-center">
                        <div id="email-register-error" class="error-panel"></div>
                      </div>
                      <div class="col-xs-12 col-sm-8 col-md-offset-2">
                        <div class="google-input-holder">
                          <span class="glyphicon glyphicon-envelope"></span>
                          <input id="google-register-email" type="email" name="email" value="" placeholder="Email...">
                          <span id="register-check-email" class="register-check-good"></span>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-offset-3 text-center">
                        <div id="password-register-error" class="error-panel"></div>
                      </div>
                      <div class="col-xs-12 col-sm-8 col-md-offset-2">
                        <div class="google-input-holder">
                          <span class="glyphicon glyphicon-lock"></span>
                          <input id="google-register-password" type="password" name="password" value="" placeholder="Password...">
                          <span id="register-check-password" class="register-check-good"></span>
                        </div>
                      </div>
                    </div>
            </form>
            
        
      </div>
      <div class="modal-footer bottom-rounded">
        <div class="col-xs-12 col-sm-8 col-md-offset-2">
          <button id="google-register-submit" type="button" class="btn btn-block btn-lg btn-success rounded">register</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!---------------- modal ------------------------------------->
<div id="recover-forgotten-password" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">let's get your reconnected</h4>
      </div>
      <div class="modal-body centered">
            <form id="google-forgot-form" autocomplete="off">{% csrf_token %}
                    <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-offset-3 text-center">
                        <div id="email-forgot-error" class="error-panel"></div>
                      </div>
                      <div class="col-xs-12 col-sm-8 col-md-offset-2">
                      <div class="google-input-holder">
                        <span class="glyphicon glyphicon-envelope"></span>
                        <input id="google-forgot-email" type="email" name="email" value="" placeholder="Email...">
                        <span id="forgot-check-email" class="register-check-good"></span>
                      </div>
                      </div>
                    </div>
            </form>
      </div>
      <div class="modal-footer bottom-rounded">
        <div class="col-xs-12 col-sm-8 col-md-offset-2">
          <button id="google-forgot-submit" type="submit" form="google-forgot-form" class="btn btn-block btn-lg btn-success rounded">send</button>
        </div>
      </div>
    </div>
  </div>
</div>





{% endblock %}





{% block extraScript %}
  
  
<script>

$(document).ready(function(){
  $('.google-authorize').click(function(){
    //popup new window to log in to oauth
    var myWindow = window.open("/google/auth/","_blank","toolbar=no, location=no, menubar=no, scrollbars=yes, resizable=yes, top=100, left=0, width=500, height=600");
   
  });
  
  
  
  
});


// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}



    /************************** check login ****************************************************************************88*******/
	function checkUser(username, password) {
		console.log('In checkUser');
            var csrftoken = getCookie('csrftoken');
            var uri = "{% url 'google_login.views.ajaxAuth' %}";
            var xhr = new XMLHttpRequest();
            var fd = new FormData();
            
            xhr.open("POST", uri, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    // Handle response.
		            console.log(xhr.responseText);
                    var data = JSON.parse(xhr.responseText)
		            //console.log(data);
		            if (data.error) {
                        //alert(data.error);
                        $("#google-login-error").fadeIn(600);
                    }
		            else{
                        window.location.href="{% url 'worksheet_project.views.dashboard' %}"
                    }
                }
            };
	        xhr.timeout = 4000;
	        xhr.ontimeout = function () { location.reload(); }
            fd.append('username', username);
            fd.append('password', password);
            // Initiate a multipart/form-data upload
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            xhr.send(fd);
	    //console.log( xhr._object);
        }
	

    /************************** check username ****************************************************************************88*******/
	function doesUsernameExist(username) {
		console.log('In doesUsernameExist');
            var csrftoken = getCookie('csrftoken');
            var uri = "{% url 'google_login.views.checkUsername' %}";
            var xhr = new XMLHttpRequest();
            var fd = new FormData();
            
            xhr.open("POST", uri, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    // Handle response.
		            console.log(xhr.responseText);
                    var data = JSON.parse(xhr.responseText)
		            //console.log(data);
		            if (data.error) {
                        //alert(data.error);
                    }
		            else{
                        if (data.exists == 'true'){
                            $("#username-register-error").html('already exists');
                            $("#username-register-error").fadeIn(600);
                            $("#google-register-username").addClass('register-input-error');
                            //console.log(top);
                            setCheckSignalPosition();
                            $("#register-check-username").addClass('register-check-error');
                            $("#register-check-username").removeClass('register-check-good');
                            $("#register-check-username").fadeIn(600);
                        }
                    }
                }
            };
	        xhr.timeout = 4000;
	        xhr.ontimeout = function () { location.reload(); }
            fd.append('username', username);
            // Initiate a multipart/form-data upload
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            xhr.send(fd);
	    //console.log( xhr._object);
        }
	

    /************************** check username ***********************************************************************************/
	function doesEmailExist(email) {
		console.log('In doesEmailExist');
            var csrftoken = getCookie('csrftoken');
            var uri = "{% url 'google_login.views.doesEmailExist' %}";
            var xhr = new XMLHttpRequest();
            var fd = new FormData();
            
            xhr.open("POST", uri, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    // Handle response.
		            //console.log(xhr.responseText);
                    var data = JSON.parse(xhr.responseText)
		            //console.log(data);
		            if (data.error) {
                        //alert(data.error);
                    }
		            else{
                        if (data.exists == 'true'){
                            $("#email-register-error").html('already exists');
                            $("#email-register-error").fadeIn(600);
                            $("#google-register-email").addClass('register-input-error');
                            //console.log(top);
                            setCheckSignalPosition();
                            $("#register-check-email").addClass('register-check-error');
                            $("#register-check-email").removeClass('register-check-good');
                            $("#register-check-email").fadeIn(600);
                        }
                    }
                }
            };
	        xhr.timeout = 4000;
	        xhr.ontimeout = function () { location.reload(); }
            fd.append('email', email);
            // Initiate a multipart/form-data upload
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            xhr.send(fd);
	    //console.log( xhr._object);
        }
	



    /************************** submit registration ****************************************************************************88*******/
	function submitRegistration() {
		console.log('In submitRegistration');
            var csrftoken = getCookie('csrftoken');
            var uri = "{% url 'google_login.views.submitRegistration' %}";
            var xhr = new XMLHttpRequest();
            var fd = new FormData();
            
            xhr.open("POST", uri, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    // Handle response.
		            //console.log(xhr.responseText);
                    var data = JSON.parse(xhr.responseText)
		            //console.log(data);
		            if (data.error) {
                        alert(data.error);
                    }
		            else{
                        window.location.href="{% url 'worksheet_project.views.dashboard' %}"
                    }
                }
            };
	        xhr.timeout = 4000;
	        xhr.ontimeout = function () { location.reload(); }
            fd.append('username', $("#google-register-username").val());
            fd.append('email', $("#google-register-email").val());
            fd.append('password', $("#google-register-password").val());
            // Initiate a multipart/form-data upload
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            xhr.send(fd);
	    //console.log( xhr._object);
        }
	



    /************************** submit Forgot Password ****************************************************************************88*******/
	function submitPasswordForgot(email) {
		//console.log('In submitPasswordForgot');
            var csrftoken = getCookie('csrftoken');
            var uri = "{% url 'google_login.views.submitPasswordForgot' %}";
            var xhr = new XMLHttpRequest();
            var fd = new FormData();
            
            xhr.open("POST", uri, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    // Handle response.
		            //console.log(xhr.responseText);
                    var data = JSON.parse(xhr.responseText)
		            //console.log(data);
		            if (data.error) {
                        alert(data.error);
                    }
		            else{
                        alert('Your reset link was sent to your email.');
                        $("#recover-forgotten-password").modal('hide');
                    }
                }
            };
	        xhr.timeout = 4000;
	        xhr.ontimeout = function () { location.reload(); }
            fd.append('email', email);
            // Initiate a multipart/form-data upload
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            xhr.send(fd);
	    //console.log( xhr._object);
        }
	


  function syncAccounts(newUserID) {
    location.reload();
  }



</script>


<script src="{% static "main_project/js/index-login.js" %}"></script>
  
{% endblock %}




