{% extends "base.html" %}
{% load staticfiles %}


{% block title %}SimpleSheets{% endblock %}

{% block body %}

<!-----------------Nav bar -------------------------------------------------------------->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header col-sm-3">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand hidden-xs" href="#">
      <img style="width:120%;max-width: 200px;margin:-5px 0 0 -10px;" src="{% static "main_project/images/Simplesheets-dot-logo.png" %}" alt="SimpleSheets" />
    </a>
    <a class="navbar-brand col-xs-8 visible-xs" href="#">
      <img style="width:120%;max-width:200px;margin-top:-8px;" src="{% static "main_project/images/Simplesheets-dot-logo.png" %}" alt="SimpleSheets" />
    </a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">home</a></li>
      <li><a href="#">about</a></li>
      <li><a href="#">contact</a></li>
    </ul>
    
    
    <ul class="nav navbar-nav navbar-right">
      <!--<a href="{% url "google_login.views.index" %}" class="btn btn-success rounded" role="button" style="margin: 20px 30px 0 10px;">get started</a>-->
      <button class="btn btn-success rounded" data-toggle="modal" data-target="#teacher-student" style="margin: 20px 30px 0 10px;">get started</button>      
    </ul>
    
    
  </div>
</div>
<!-------------------------End Navbar --------------------------------------------------->



    <div class="container theme-showcase" role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a href="#" class="btn btn-primary btn-lg rounded" role="button">Learn more &raquo;</a></p>
      </div>
    </div>


<!---------------- modal ------------------------------------->
<div id="teacher-student" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Who are you?</h4>
      </div>
      <div class="modal-body text-center bottom-rounded">
        <div class="row">
          <div class="col-xs-6">
            <button class="btn btn-block btn-lg btn-success rounded" data-toggle="modal" data-target="#sign-in">teacher</button>
          </div>
          <div class="col-xs-6">
            <a href="{% url "google_login.views.index" %}" class="btn btn-block btn-lg btn-success rounded" role="button">student</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!---------------- modal ------------------------------------->
<div id="sign-in" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">sign in</h4>
      </div>
      <div class="modal-body">
        
    <form id="google-authorization-form" autocomplete="off">{% csrf_token %}
        <ul>
            <li><div id="google-login-error">incorrect username or password</div></li>
            <li><div class="google-input-holder">
                    <span class="glyphicon glyphicon-user"></span>
                    <input id="google-username" type="text" name="username" value="" placeholder="Username or email..." autofocus>
            </div></li>
            <li><div class="google-input-holder">
                    <span class="glyphicon glyphicon-lock"></span>
                    <input id="google-password" type="password" name="password" value="" placeholder="Password...">
            </div></li>
            <button id="google-sign-in" class="google-button">SIGN IN</button>
            <button id="google-sign-up" class="google-button">SIGN UP</button>
        </ul>
    </form>
    <div class="forgot-password">forgot my username or password</div>
        
      </div>
      <div class="modal-footer bottom-rounded">
        <button type="button" class="btn btn-default rounded" data-dismiss="modal">Close</button>
        <button type="submit" form="className-form" class="btn btn-primary rounded">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

