{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Dashboard{% endblock %}

{% block body %}


<div class="container">
  <div id="main-region" class="">
    <div>
      <div class="panel rounded">
        <div class="panel-heading col-xs-12">
          <span class="panel-title col-xs-12 col-sm-6">
              <a href="" style="color: red;" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="back to classes">1st Period</a> &gt; Worksheet Name
          </span>
              <button class="btn btn-default pull-right" id="info-btn"  data-toggle="tooltip" data-placement="bottom" title="" data-original-title="help">
                <i class="glyphicon glyphicon-info-sign"></i>
              </button>
              <button class="btn btn-default pull-right" id="download-btn"  data-toggle="tooltip" data-placement="bottom" title="" data-original-title="download grades">
                <i class="glyphicon glyphicon-download-alt"></i>
              </button>
              <button class="btn btn-default pull-right" id="list-btn" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="list">
                <i class="glyphicon glyphicon-list"></i>
              </button>
              <button class="btn btn-default pull-right" id="grid-btn" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="grid">
                <i class="glyphicon glyphicon-th"></i>
              </button>
            
        </div>
        
        
        <div class="panel-body table-responsive">
          
          
          <!------------------------------------  Start of list holder -------------------------------------------->
            <div id="list-students">
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-12">
                    <table class="table table-bordered table-hover table-striped table-responsive">
                      
                      <thead>
                        <!-------------------- Start of table headers -------------------------------------------->
                        <tr class="row" id="students-table-headers">
                          <td class="col-xs-2 table-sort">
                            <div id="sort-student">
                              <span>Student</span>
                              <i class="pull-right glyphicon glyphicon-sort"></i>
                            </div>
                          </td>
                          <td class="text-center">
                            <div>
                              <span>1</span>
                            </div>
                          </td>
                          <td class="text-center">
                            <div>
                              <span>2</span>
                            </div>
                          </td>
                          <td class="text-center">
                            <div>
                              <span>3</span>
                            </div>
                          </td>
                          <td class="text-center">
                            <div>
                              <span>4</span>
                            </div>
                          </td>
                          <td class="text-center">
                            <div>
                              <span>5</span>
                            </div>
                          </td>
                          <td class="text-center">
                            <div>
                              <span>6</span>
                            </div>
                          </td>
                          <td class="text-center">
                            <div>
                              <span>7</span>
                            </div>
                          </td>
                          <td class="text-center">
                            <div>
                              <span>8</span>
                            </div>
                          </td>
                          <td class="text-center">
                            <div>
                              <span>9</span>
                            </div>
                          </td>
                          <td class="text-center">
                            <div>
                              <span>10</span>
                            </div>
                          </td>
                          <td class="text-center">
                            <div>
                              <span>11</span>
                            </div>
                          </td>
                          <td class="text-center">
                            <div>
                              <span>12</span>
                            </div>
                          </td>
                          <td class="text-center">
                            <div>
                              <span>13</span>
                            </div>
                          </td>
                          <td class="text-center">
                            <div>
                              <span>14</span>
                            </div>
                          </td>
                          <td class="text-center">
                            <div>
                              <span>15</span>
                            </div>
                          </td>
                          <td class="text-center">
                            <div>
                              <span>16</span>
                            </div>
                          </td>
                          <td class="text-center">
                            <div>
                              <span>17</span>
                            </div>
                          </td>
                          <td class="text-center">
                            <div>
                              <span>18</span>
                            </div>
                          </td>
                          <td class="text-center">
                            <div>
                              <span>19</span>
                            </div>
                          </td>
                          <td class="text-center">
                            <div>
                              <span>20</span>
                            </div>
                          </td>
                        </tr>
                      </thead>
                        <!-- ------------------------ End of table headers -------------------------------------------->
                        
                        <!------------------------ Start of Student --------------------------------------------------->
                      <tbody class="student-table">
                        <tr class="row">
                          <td class="col-xs-3">
                            <strong>Robert Boyett</strong>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-remove text-danger"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-remove text-danger"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-remove text-danger"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-remove text-danger"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-remove text-danger"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-remove text-danger"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                        </tr>
                        
                        <!------------------------ Start of Student --------------------------------------------------->
                        <tr class="row">
                          <td class="col-xs-3">
                            <strong>Robert Boyett</strong>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-remove text-danger"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-remove text-danger"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-remove text-danger"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-remove text-danger"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-remove text-danger"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-remove text-danger"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                        </tr>
                        <!------------------------ Start of Student --------------------------------------------------->
                        <tr class="row">
                          <td class="col-xs-3">
                            <strong>Robert Boyett</strong>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-remove text-danger"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-remove text-danger"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-remove text-danger"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-remove text-danger"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-remove text-danger"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-remove text-danger"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                        </tr>
                        <!------------------------ Start of Student --------------------------------------------------->
                        <tr class="row">
                          <td class="col-xs-3">
                            <strong>Robert Boyett</strong>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-remove text-danger"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-remove text-danger"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-remove text-danger"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-remove text-danger"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-remove text-danger"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-remove text-danger"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                        </tr>
                        <!------------------------ Start of Student --------------------------------------------------->
                        <tr class="row">
                          <td class="col-xs-3">
                            <strong>Robert Boyett</strong>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-remove text-danger"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-remove text-danger"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-remove text-danger"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-remove text-danger"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-remove text-danger"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-remove text-danger"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-ok text-success"></i>
                          </td>
                          <td class="text-center">
                            <i class="glyphicon glyphicon-minus"></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        <!-----------------------------  End of holder ----------------------------------------->
            
            <div id="grid-students">
                <div id="studentBox1" class="studentBox col-xs-6 rounded" data-options='{"right":"7", "wrong":"2"}'>
                    <div class="cont" student-name="Robert">
                        <svg class="svg" width="130" height="130" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                          <path class="background" d="M 27 100 A 50 50 0 1 1 97 100"/>
                          <path class="right-green" d="M 25 100"/>
                          <path class="wrong-red" d="M 25 100"/>
                        </svg>
                    </div>
                </div>
                <div id="studentBox2" class="studentBox col-xs-6 rounded" data-options='{"right":"7", "wrong":"2"}'>
                    <div class="cont" student-name="Robert">
                        <svg class="svg" width="130" height="130" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                          <path class="background" d="M 27 100 A 50 50 0 1 1 97 100"/>
                          <path class="right-green" d="M 25 100"/>
                          <path class="wrong-red" d="M 25 100"/>
                        </svg>
                    </div>
                </div>
                <div id="studentBox3" class="studentBox col-xs-6 rounded" data-options='{"right":"7", "wrong":"2"}'>
                    <div class="cont" student-name="Robert">
                        <svg class="svg" width="130" height="130" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                          <path class="background" d="M 27 100 A 50 50 0 1 1 97 100"/>
                          <path class="right-green" d="M 25 100"/>
                          <path class="wrong-red" d="M 25 100"/>
                        </svg>
                    </div>
                </div>
                <div id="studentBox4" class="studentBox col-xs-6 rounded" data-options='{"right":"7", "wrong":"2"}'>
                    <div class="cont" student-name="Robert">
                        <svg class="svg" width="130" height="130" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                          <path class="background" d="M 27 100 A 50 50 0 1 1 97 100"/>
                          <path class="right-green" d="M 25 100"/>
                          <path class="wrong-red" d="M 25 100"/>
                        </svg>
                    </div>
                </div>
                <div id="studentBox5" class="studentBox col-xs-6 rounded" data-options='{"right":"7", "wrong":"2"}'>
                    <div class="cont" student-name="Robert">
                        <svg class="svg" width="130" height="130" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                          <path class="background" d="M 27 100 A 50 50 0 1 1 97 100"/>
                          <path class="right-green" d="M 25 100"/>
                          <path class="wrong-red" d="M 25 100"/>
                        </svg>
                    </div>
                </div>
                <div id="studentBox6" class="studentBox col-xs-6 rounded" data-options='{"right":"7", "wrong":"2"}'>
                    <div class="cont" student-name="Robert">
                        <svg class="svg" width="130" height="130" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                          <path class="background" d="M 27 100 A 50 50 0 1 1 97 100"/>
                          <path class="right-green" d="M 25 100"/>
                          <path class="wrong-red" d="M 25 100"/>
                        </svg>
                    </div>
                </div>
                <div id="studentBox7" class="studentBox col-xs-6 rounded" data-options='{"right":"7", "wrong":"2"}'>
                    <div class="cont" student-name="Robert">
                        <svg class="svg" width="130" height="130" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                          <path class="background" d="M 27 100 A 50 50 0 1 1 97 100"/>
                          <path class="right-green" d="M 25 100"/>
                          <path class="wrong-red" d="M 25 100"/>
                        </svg>
                    </div>
                </div>
                <div id="studentBox8" class="studentBox col-xs-6 rounded" data-options='{"right":"7", "wrong":"2"}'>
                    <div class="cont" student-name="Robert">
                        <svg class="svg" width="130" height="130" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                          <path class="background" d="M 27 100 A 50 50 0 1 1 97 100"/>
                          <path class="right-green" d="M 25 100"/>
                          <path class="wrong-red" d="M 25 100"/>
                        </svg>
                    </div>
                </div>
                
            </div>
            
            
            
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}