{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Profile{% endblock %}

{% block body %}



<div class="container">
  <div id="main-region" class="">
    <div>
      <div class="row">
	<div class="col-xs-12 col-sm-6 col-md-7">
            <h3>Profile</h3>
	    <div class="profile-card">
	      <p>
		<strong>School</strong>
		<button id="show-school" class="btn btn-primary pull-right rounded"><i class="glyphicon glyphicon-pencil"></i></button>
	      </p>
	      <span>Alvarado High School</span>
	    </div>
            
            
            
	    <form novalidate="" data-validate="parsley" id="profile-form" class="profile-card">
	      <div id="alert-panel"></div>
	      <img src="https://lh3.googleusercontent.com/-K9EDOFcINeI/AAAAAAAAAAI/AAAAAAAAABU/wA5Phtqseck/photo.jpg" alt="User photo" class="rounded img-responsive pull-left">
	      <div class="form-group">
		<label class="control-label" for="firstName" style="font-size: 18px;">First Name</label>
		<div class="input-group rounded">
                  <span class="input-group-addon rounded"><i class="glyphicon glyphicon-user"></i></span>
                  <input type="text" class="form-control parsley-validated rounded" id="firstName" name="firstName" data-trigger="change" required="required" data-notblank="true" value="Robert">
		</div>
		<span class="help-block"></span>
	      </div>
	      <div class="form-group">
		<label class="control-label" for="lastName" style="font-size: 18px;">Last Name</label>
		<div class="input-group rounded">
                  <span class="input-group-addon rounded"><i class="glyphicon glyphicon-user"></i></span>
                  <input type="text" class="form-control parsley-validated rounded" id="lastName" name="lastName" data-trigger="change" required="required" data-notblank="true" value="Boyett">
		</div>
		<span class="help-block"></span>
	      </div>
	      <br>
	      <div class="row">
		<div class="col-xs-6">
		  <button type="submit" class="btn btn-block btn-success disabled rounded" id="update-profile">Update Profile</button>
		</div>
		<div class="col-xs-6">
                  <button type="submit" class="btn btn-block btn-primary rounded" id="show-update-password-modal">
		    Set Password
                  </button>
		</div>
	      </div>
	    </form>
        </div>
            
        <div class="col-xs-12 col-sm-6 col-md-5">
	    <div id="auth-connections" class="profile-card">
              <div>
                <h4>Your Accounts:</h4>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="media">
                      <a class="pull-left" href="#">
                        <img class="media-object rounded" src="images/Simplesheets-dot-shortlogo.png" alt="google-thumbnail">
                      </a>
                      <div class="media-body">
                        <h5 class="media-heading">Your SimpleSheets Account:</h5>
                        <strong>Username: </strong>rboyett@alvaradoisd.net
                      </div>
                    </div>
                    <div class="media">
                      <a class="pull-left" href="#">
                        <img class="media-object rounded" src="images/google-logo.png" alt="google-thumbnail">
                      </a>
                      <div class="media-body">
                        <h5 class="media-heading">You are connected to the Google account:</h5>
                        <strong>Email: </strong>rboyett@alvaradoisd.net
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div id="account-connection-mssg">
                </div>
              </div>
              <div class="row">
              <div class="col-xs-6">
                <button class="btn btn-block btn-social btn-danger rounded" id="edmodo-authorize" type="button">
                  <span> <img class="rounded" style="width: 38px;margin: 0px;border: none;" src="images/g-plus.jpg" width="80" alt=""> </span><span> Connect with Google</span>
                </button>
              </div>
              <div class="col-xs-6">
                <button class="btn btn-block btn-social btn-info rounded" id="edmodo-authorize" type="button">
                  <span> <img style="width: 25px;margin: 6px 2px 2px 3px;border: none;" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/41205/edmodo-icon_1.png" width="80" alt=""> </span><span> Connect with Edmodo</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
        
{% endblock %}