{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Profile{% endblock %}

{% block body %}



<div class="container">
  <div id="main-region" class="">
    <div>
      <div class="row">
	<div class="col-xs-12 col-sm-6 col-md-7">
            <h3>Profile</h3>
	    <div class="profile-card">
	      <p>
		<strong>School</strong>
		<button id="show-school" class="btn btn-primary pull-right rounded" data-toggle="modal" data-target="#update-school" ><i class="glyphicon glyphicon-pencil"></i></button>
	      </p>
	      <span id="schoolName-span">{% if userInfo.school %}{{ userInfo.school|capfirst }}{%else%}please add your school{%endif%}</span>
	    </div>
            
            
            
	    <form id="profile-form" class="profile-card" action="{% url "userInfo_profile.views.profileUpdate" %}" enctype='multipart/form-data' method="post">{% csrf_token %}
              <div class="row">
                <div class="col-xs-6 col-xs-offset-4 col-sm-4 col-sm-offset-0 col-md-3 col-md-offset-1">
                  <img id="profile-image" {% if googleUserInfo %}
                        src="{{ googleUserInfo.googleAvatar }}"
                      {% else %}
                        src="{% static "main_project/images/default_avatar.png" %}"
                      {% endif %}
                        alt="User photo" class="rounded img-thumbnail">
                    
                </div>
                <div class="col-xs-12 col-sm-8">
                  <div class="col-xs-12">
                    <div id="title-input" class="google-input-holder" style="background-color: #FFF;">
                      <span class="glyphicon glyphicon-user"></span>
                      <select class="form-control" name="title">
                        <option value="False">None</option>
                        <option {% ifequal userInfo.title "Mr" %}selected{%endifequal%} value="Mr">Mr</option>
                        <option {% ifequal userInfo.title "Ms" %}selected{%endifequal%} value="Ms">Ms</option>
                        <option {% ifequal userInfo.title "Dr" %}selected{%endifequal%} value="Dr">Dr</option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="col-xs-12">
                    <div class="google-input-holder" style="background-color: #FFF;">
                      <span class="glyphicon glyphicon-user"></span>
                      <input id="fullName-input" type="text" name="fullName" value="{% if userInfo.user.first_name %}{{ userInfo.user.first_name|capfirst }} {{ userInfo.user.last_name|capfirst }}{%endif%}" minlength="3" maxlength="60" required placeholder="Name...">
                      <span class="register-check register-check-error"></span>
                    </div>
                  </div>
                  
                </div>
              </div>
	      <br>
	      <div class="row">
		<div class="col-xs-6">
		  <button type="submit" class="btn btn-block btn-success rounded">Update Profile</button>
		</div>
		<div class="col-xs-6">
                  <button type="button" class="btn btn-block btn-primary rounded" data-toggle="modal" data-target="#reset-password">Reset Password</button>
		</div>
	      </div>
	    </form>
        </div>
            
        <div class="col-xs-12 col-sm-6 col-md-5">
          
            <h3>Your Accounts</h3>
	    <div id="auth-connections" class="profile-card">
              <div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="media">
                      <div class="pull-left">
                        <img class="media-object rounded" src="{% static "main_project/images/Simplesheets-dot-shortlogo.png" %}" alt="google-thumbnail">
                      </div>
                      <div class="media-body">
                        <h5 class="media-heading">Your SimpleSheets Account:</h5>
                        <strong>Username: </strong><span id="username-label">{% if userInfo.user.username %}{{ userInfo.user.username }}{%endif%}</span>
                        <div class="row">
                          <div class="col-xs-12">
                            <button class="btn btn-xs btn-info rounded" data-toggle="modal" data-target="#change-username">change</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% if googleUserInfo %}
                    <div class="media">
                      <div class="pull-left">
                        <img class="media-object rounded" src="{% static "main_project/images/google-logo.png" %}" alt="google-thumbnail">
                      </div>
                      <div class="media-body">
                        <h5 class="media-heading">You are connected to the Google account:</h5>
                        <strong>Email: </strong>{% if userInfo.user.email %}{{ userInfo.user.email }}{%endif%}
                      </div>
                    </div>
                    {% endif %}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div id="account-connection-mssg">
                </div>
              </div>
              <div class="row">
              <div class="col-xs-6">
                <button class="btn btn-block btn-social btn-danger rounded {% if googleUserInfo %}disabled{%endif%} google-authorize" type="button">
                  <span> <img class="rounded" style="width: 38px;margin: 0px;border: none;" src="{% static "main_project/images/g-plus.jpg" %}" width="80" alt=""> </span><span> Connect with Google</span>
                </button>
              </div>
              <div class="col-xs-6">
                <button class="btn btn-block btn-social btn-info rounded" id="edmodo-authorize" type="button">
                  <span> <img style="width: 25px;margin: 6px 2px 2px 3px;border: none;" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/41205/edmodo-icon_1.png" width="80" alt=""> </span><span> Connect with Edmodo</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
        
        
        
<!---------------- modal ------------------------------------->
<div id="update-school" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">sign up</h4>
      </div>
      <div class="modal-body centered">
            <form id="update-school-form" action="{% url "userInfo_profile.views.school" %}" enctype='multipart/form-data' method="post" autocomplete="off">{% csrf_token %}
              <div class="row">
                      <div class="col-xs-12 col-sm-8 col-md-offset-2 text-center">
                        <div class="google-input-holder">
                          <span class="glyphicon glyphicon-home"></span>
                          <input type="text" name="schoolName" minlength="3" maxlength="65" required value="{% if userInfo.school %}{{ userInfo.school|capfirst }}{%endif%}" placeholder="School Name..." autofocus>
                          <span class="register-check register-check-error"></span>
                        </div>
                      </div>
              </div>
            </form>
      </div>
      <div class="modal-footer bottom-rounded">
        <div class="col-xs-12 col-sm-8 col-md-offset-2">
          <button id="update-school-submit-button" type="submit" form="update-school-form" class="btn btn-block btn-lg btn-success rounded">update</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!---------------- modal ------------------------------------->
<div id="teacher-student" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <h4 class="modal-title">Who are you?</h4>
      </div>
      <div class="modal-body text-center bottom-rounded">
        <div class="row">
          <form id="update-teacherStudent-form" action="{% url "userInfo_profile.views.teacherStudent" %}" enctype='multipart/form-data' method="post">{% csrf_token %}
            <input id="teacher_or_student" name="teacherStudent" type="hidden" value="" />
            <div class="col-xs-6">
              <button type="submit" class="btn btn-block btn-lg btn-success rounded" onclick="$('#teacher-student').modal('hide');$('#teacher_or_student').val('teacher');">teacher</button>
            </div>
            <div class="col-xs-6">
              <button type="submit" class="btn btn-block btn-lg btn-success rounded" onclick="$('#teacher-student').modal('hide');$('#teacher_or_student').val('student');">student</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



<!---------------- modal ------------------------------------->
<div id="reset-password" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">reset password</h4>
      </div>
      <div class="modal-body centered">
            <form id="reset-password-form" action="{% url "google_login.views.ajaxResetPassword" %}" enctype='multipart/form-data' method="post" autocomplete="off">{% csrf_token %}
              <div class="row">
                      <div class="col-xs-12 col-sm-8 col-md-offset-2 text-center">
                        <div class="google-input-holder">
                          <span class="glyphicon glyphicon-lock"></span>
                          <input id="password1" type="password" name="password1" required value="" placeholder="password..." autofocus>
                          <span class="register-check register-check-error"></span>
                        </div>
                      </div>
                      
                      <div class="col-xs-12 col-sm-8 col-md-offset-2 text-center">
                        <div class="google-input-holder">
                          <span class="glyphicon glyphicon-lock"></span>
                          <input type="password" name="password2" required value="" placeholder="confirm...">
                          <span class="register-check register-check-error"></span>
                        </div>
                      </div>
              </div>
            </form>
      </div>
      <div class="modal-footer bottom-rounded">
        <div class="col-xs-12 col-sm-8 col-md-offset-2">
          <button type="submit" form="reset-password-form" class="btn btn-block btn-lg btn-success rounded">reset</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!---------------- modal ------------------------------------->
<div id="change-username" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">reset password</h4>
      </div>
      <div class="modal-body centered">
            <form id="change-username-form" action="{% url "google_login.views.changeUsername" %}" enctype='multipart/form-data' method="post" autocomplete="off">{% csrf_token %}
              <div class="row">
                      <div class="col-xs-12 col-sm-8 col-md-offset-2 text-center">
                        <div class="google-input-holder">
                          <span class="glyphicon glyphicon-user"></span>
                          <input type="text" name="userName" minlength="6" maxlength="15" required value="" placeholder="username..." autofocus>
                          <span class="register-check register-check-error"></span>
                        </div>
                      </div>
              </div>
            </form>
      </div>
      <div class="modal-footer bottom-rounded">
        <div class="col-xs-12 col-sm-8 col-md-offset-2">
          <button type="submit" form="change-username-form" class="btn btn-block btn-lg btn-success rounded">change</button>
        </div>
      </div>
    </div>
  </div>
</div>


        
        
{% endblock %}


{% block extraScript %}
<script>
$(document).ready(function(){
  {% if not teacherStudent %}
    $("#teacher-student").modal({
        "backdrop" : "static",
        "keyboard" : "false",
    });
    $("#teacher-student").modal("show");
  {%endif%}
  
  
  $('.google-authorize').click(function(){
    //popup new window to log in to oauth
    var myWindow = window.open("/google/auth/","_blank","toolbar=no, location=no, menubar=no, scrollbars=yes, resizable=yes, top=100, left=0, width=500, height=600");
   
  });
});


  function syncAccounts(newUserID) {
      //Compare the two user ID's
      var oldUserID = {{ userInfo.user.id }};
      
      //If they don't match redirect
      if (newUserID == oldUserID) {
        location.reload();
      }else{
        //open new popup window
        syncGoogleAccount(oldUserID, newUserID);
      }
  }


    /************************** check username ****************************************************************************88*******/
	function syncGoogleAccount(oldUserID, newUserID) {
		console.log('In syncGoogleAccount');
            var csrftoken = getCookie('csrftoken');
            var uri = "{% url 'google_login.views.syncGoogleAccount' %}";
            var xhr = new XMLHttpRequest();
            var fd = new FormData();
            
            xhr.open("POST", uri, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    // Handle response.
		            console.log(xhr.responseText);
                    var data = JSON.parse(xhr.responseText)
		            //console.log(data);
		            if (data.error) {
                        alert(data.error);
                    }else{
                      location.reload();
                    }
                }
            };
	        xhr.timeout = 4000;
	        xhr.ontimeout = function () { location.reload(); }
            fd.append('oldUserID', oldUserID);
            fd.append('newUserID', newUserID);
            // Initiate a multipart/form-data upload
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            xhr.send(fd);
	    //console.log( xhr._object);
        }
	
var checkUsernameURI = "{% url 'google_login.views.checkUsername' %}";


</script>
<script src="{% static "main_project/js/profile.js" %}"></script>
{% endblock %}









