
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="shortcut icon" href="../../assets/ico/favicon.ico">-->

    <title>My Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/edstyle.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <!--<link href="css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/bootswatch.css" rel="stylesheet">
        
        
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <link href="css/theme.css" rel="stylesheet">
    
    
    
  </head>

  <body role="document">

<!-----------------Nav bar -------------------------------------------------------------->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header col-sm-3">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand hidden-xs" href="#">
      <img style="width:120%;max-width: 200px;margin:-5px 0 0 -10px;" src="./images/Simplesheets-dot-logo.png" alt="SimpleSheets" />
    </a>
    <a class="navbar-brand col-xs-8 visible-xs" href="#">
      <img style="width:120%;max-width:200px;margin-top:-8px;" src="./images/Simplesheets-dot-logo.png" alt="SimpleSheets" />
    </a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li><a href="dashboard.html">dashboard</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">worksheets</span></a>
        <ul class="dropdown-menu">
          <li><a href="#"><span class="glyphicon glyphicon-file"></span>  create</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-file"></span>  assign</a></li>
          <li><a href="monitor.html"><span class="glyphicon glyphicon-stats"></span>  monitor</a></li>
        </ul>
      </li>
      <li class=""><a href="classes.html">classes</a></li>
      
      <li class="dropdown visible-sm">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-search"></span></a>
        <ul class="dropdown-menu">
          <form class="navbar-form navbar-left" style="width: 19%;">
            <input id="search-bar" type="text" class="form-control" placeholder="Search" style="width: 200px;background-color: #ADADAD;">
          </form>
        </ul>
      </li>
      
    </ul>
    
    
    <form class="navbar-form navbar-left hidden-sm">
      <input id="search-bar" type="text" class="form-control" placeholder="Search" style="width: 200px;background-color: #ADADAD;">
    </form>
    
    
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-bell"></span> <span class="badge">3</span><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">some info here asdf asdf asdf asdf</a></li>
          <li class="divider"></li>
          <li><a href="#">some info here asdf asdf asdf asdf</a></li>
          <li class="divider"></li>
          <li><a href="#">some info here asdf asdf asdf asdf</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle hidden-sm hidden-md" data-toggle="dropdown">Robert  <span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
        <a href="#" class="dropdown-toggle visible-sm visible-md" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a><span class="glyphicon glyphicon-user"></span>  edit profile</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-cog"></span>  settings</a></li>
          <li class="divider"></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-out"></span>  sign out</a></li>
        </ul>
      </li>
    </ul>
    
    
  </div>
</div>
<!-------------------------End Navbar --------------------------------------------------->


<div class="container">
  <div id="main-region" class="">
    <div>
      <div class="row">
	<div class="col-xs-12 col-sm-6 col-md-7">
            <h3>Profile</h3>
	    <div class="profile-card">
	      <p>
		<strong>School</strong>
		<button id="show-school" class="btn btn-primary pull-right rounded"><i class="glyphicon glyphicon-pencil"></i></button>
	      </p>
	      <span>Alvarado High School</span>
	    </div>
            
            
            
	    <form novalidate="" data-validate="parsley" id="profile-form" class="profile-card">
	      <div id="alert-panel"></div>
	      <img src="https://lh3.googleusercontent.com/-K9EDOFcINeI/AAAAAAAAAAI/AAAAAAAAABU/wA5Phtqseck/photo.jpg" alt="User photo" class="rounded img-responsive pull-left">
	      <div class="form-group">
		<label class="control-label" for="firstName" style="font-size: 18px;">First Name</label>
		<div class="input-group rounded">
                  <span class="input-group-addon rounded"><i class="glyphicon glyphicon-user"></i></span>
                  <input type="text" class="form-control parsley-validated rounded" id="firstName" name="firstName" data-trigger="change" required="required" data-notblank="true" value="Robert">
		</div>
		<span class="help-block"></span>
	      </div>
	      <div class="form-group">
		<label class="control-label" for="lastName" style="font-size: 18px;">Last Name</label>
		<div class="input-group rounded">
                  <span class="input-group-addon rounded"><i class="glyphicon glyphicon-user"></i></span>
                  <input type="text" class="form-control parsley-validated rounded" id="lastName" name="lastName" data-trigger="change" required="required" data-notblank="true" value="Boyett">
		</div>
		<span class="help-block"></span>
	      </div>
	      <br>
	      <div class="row">
		<div class="col-xs-6">
		  <button type="submit" class="btn btn-block btn-success disabled rounded" id="update-profile">Update Profile</button>
		</div>
		<div class="col-xs-6">
                  <button type="submit" class="btn btn-block btn-primary rounded" id="show-update-password-modal">
		    Set Password
                  </button>
		</div>
	      </div>
	    </form>
        </div>
            
        <div class="col-xs-12 col-sm-6 col-md-5">
	    <div id="auth-connections" class="profile-card">
              <div>
                <h4>Your Accounts:</h4>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="media">
                      <a class="pull-left" href="#">
                        <img class="media-object rounded" src="images/Simplesheets-dot-shortlogo.png" alt="google-thumbnail">
                      </a>
                      <div class="media-body">
                        <h5 class="media-heading">Your SimpleSheets Account:</h5>
                        <strong>Username: </strong>rboyett@alvaradoisd.net
                      </div>
                    </div>
                    <div class="media">
                      <a class="pull-left" href="#">
                        <img class="media-object rounded" src="images/google-logo.png" alt="google-thumbnail">
                      </a>
                      <div class="media-body">
                        <h5 class="media-heading">You are connected to the Google account:</h5>
                        <strong>Email: </strong>rboyett@alvaradoisd.net
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div id="account-connection-mssg">
                </div>
              </div>
              <div class="row">
              <div class="col-xs-6">
                <button class="btn btn-block btn-social btn-danger rounded" id="edmodo-authorize" type="button">
                  <span> <img class="rounded" style="width: 38px;margin: 0px;border: none;" src="images/g-plus.jpg" width="80" alt=""> </span><span> Connect with Google</span>
                </button>
              </div>
              <div class="col-xs-6">
                <button class="btn btn-block btn-social btn-info rounded" id="edmodo-authorize" type="button">
                  <span> <img style="width: 25px;margin: 6px 2px 2px 3px;border: none;" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/41205/edmodo-icon_1.png" width="80" alt=""> </span><span> Connect with Edmodo</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
        

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!--<script src="js/bootswatch.js"></script>-->
    <script src="js/my-script.js"></script>
    <script src="js/classes.js"></script>
  </body>
</html>
